@using DataModel
@model PointnotesManageViewModel
@{
    int id = 0;
}

<div class="pointnotes-component">
    <div class="container">
        <div class="title-box border-bottom d-flex align-items-center mb-3">
            <h2 class="mr-3">點數異動記錄</h2>
            <button id="mobileSide" type="button" class="btn btn-maintype mb-2 mobiletype">選單</button>
        </div>
        <div class="search-box row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <input id="sDateO" type="text" placeholder="日期(起)" class="form-control" />
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <input id="eDateO" type="text" placeholder="日期(迄)" class="form-control" />
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <button type="button" class="btn btn-block btn-maintype" id="btnSerrchProductDetail">搜尋</button>
            </div>
        </div>
        <div class="detail-box row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 d-flex align-items-center pt-1 pb-1">
                <div>目前點數：@Model.Member.Bonus 點 <input type="hidden" id="bonus" value='@Model.Member.Bonus' /> &nbsp;&nbsp;<input type="text" value="0" size="6" style='text-align:right;' id="used_bonus" />&nbsp;&nbsp;<button type="button" class="btn btn-secondary" id="btnChangeBonus">提領</button>&nbsp;&nbsp;(每次提領須扣 50 點)</div>
            </div>
        </div>
        @if (@Model.listGetMemberBonusChangeRecordListViewModel != null && @Model.listGetMemberBonusChangeRecordListViewModel.Count > 0)
        {
            <div class="pagination-box row mb-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 pt-1 pb-1">
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <button type="button" class="btn btn-block btn-maintype" id="ProductDetailPrePage"><i class="fas fa-angle-left"></i></button>
                        </div>
                        <div class="pagination flexcenter col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4">@Model.CurrentPage/@Model.TotalPages</div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <button type="button" class="btn btn-block btn-maintype" id="ProductDetailNextPage"><i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pt-1 pb-1">
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle btn-maintype" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">第1頁</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" id="ProductDetailPageList">
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <a class="dropdown-item" href="#" data-page="@(i)">第@(i)頁</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="triumphlist-box">
            <div class="noteslist-box">
                <div class="row mb-3">
                    @foreach (var item in Model.listGetMemberBonusChangeRecordListViewModel)
                    {
                        id += 1;

                        <div class="col-6 ol-sm-6 col-md-12 col-lg-6 col-xl-6 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="d-flex align-items-center">項次：@id</div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="d-flex align-items-center">異動時間：@item.ChangeTime</div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="d-flex align-items-center">異動類型：@item.Event</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="d-flex align-items-center">異動前：@item.BeforeBonus 點</div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="d-flex align-items-center">異動：@item.ChangeBonus 點</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="d-flex align-items-center">異動後：@item.AfterBonus 點</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                            <div class="d-flex align-items-center">異動原因：@item.Memo </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>

            </div>
                    
        </div>
    </div>

    </div>
        <script>
    $(document).ready(function () {
        // 10.系統設定jCurrentPage=9-7回傳CurrentPage，系統設定jTotallPages=9-7回傳TotalPages。
        jCurrentPage =@Model.CurrentPage;
        jTotallPages =@Model.TotalPages;
    });


    $("#btnChangeBonus").unbind("click").click(function (event) {
        event.preventDefault();
        jBonus = document.getElementById('bonus').value;
        jUsedBonus = document.getElementById('used_bonus').value;

        if (jUsedBonus > (jBonus - 50)) {
            alert('不得大於剩餘點數！');
        }
        else if (jUsedBonus <= 0) {
            alert('請輸入正確數值');
        }


        else {
            $.ajax({
                type: 'Post',
                cache: false,

                url: './Member/UsedMemberBonus',
                data: {
                    'MemberMobile': jMemberMobile,
                    'Bonus': jBonus,
                    'UsedBonus': jUsedBonus
                },
                beforeSend: LoadBefore,
                success: ChangeBonusSuccess,
                error: SystemError

            });

        }





    });
    function ChangeBonusSuccess(response) {
        document.getElementById('btnSerrchProductDetail').click();
        //
        var a = jBonus
        var b = jUsedBonus
        var c = a - 50 - b;
        alert('申請提領成功！');
        alert('目前點數:' + a.toString() + "\n" + '手續費扣除:' + '50' + "\n" + '提領點數:' + b.toString() + "\n" + '剩餘點數:' + c);
    };
    function LoadBefore() { }
    function SystemError() {
        alert('系統錯誤，請稍後再試！');
    }
        </script>
