@using DataModel
@model MailcenterManageViewModel
@{

}

<div class="mailcenter-component">
    <div class="container">
        <div class="title-box border-bottom d-flex align-items-center mb-3">
            <h2 class="mr-3">訊息中心</h2>
            <button id="mobileSide" type="button" class="btn btn-maintype mb-2 mobiletype">選單</button>
        </div>

        @*9-8.系統在View【Views/Shared/Components/MemberFavoriteList/Default.cshtml】中判斷9-7傳回之listMemberFavoriteListViewModel!=null and Count>0。*@
        @if (Model.listMemberMailCenterMessageListViewModel != null && Model.listMemberMailCenterMessageListViewModel.Count > 0)
        {
            <div class="mailsearch-box row mb-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <input id="MessageValue" type="text" placeholder="訊息內容" class="form-control" />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <button type="button" class="btn btn-block btn-maintype" id="btnSerrchMessageValue">搜尋</button>
                </div>
            </div>
            <div class="pagination-box row mb-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <button type="button" class="btn btn-block btn-maintype" id="MessageValuePrePage"><i class="fas fa-angle-left"></i></button>
                        </div>
                        <div class="pagination flexcenter col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4">@Model.CurrentPage/@Model.TotalPages</div>
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <button type="button" class="btn btn-block btn-maintype" id="MessageValueNextPage"><i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="dropdown">
                        <button class="btn btn-block dropdown-toggle btn-maintype" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">第1頁</button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" id="MessageValuePageList">
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <a class="dropdown-item" href="#" data-page="@(i)">第@(i)頁</a>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="maillist-box">
                <div class="card text-white mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <div>通知</div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">親愛的會員您好</h4>
                        <p class="card-text">
                             歡迎使用下方的連結 ，加入FB官方粉絲團， 以及 LINE@@ 官方帳號，
                            知識即是權力 、情報等同MONEY，
                            隨時掌握第一手商品資訊 ， 保證收穫滿滿!
                        </p>
                    </div>
                </div>
            </div>
            @foreach (var o in @Model.listMemberMailCenterMessageListViewModel)
            {
                DateTime dtMessageTime = (DateTime)o.MessageTime;
                <div class="maillist-box">
                    <div class="card text-white mb-3">
                        <div class="card-header d-flex justify-content-between">
                            <div>@dtMessageTime.ToLongDateString()</div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">@o.MessageTitle</h4>
                            <p class="card-text">@o.MessageValue</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
                <div class="maillist-box">
                    <div class="card text-white mb-3">
                        <div class="card-header d-flex justify-content-between">
                            <div>通知</div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">親愛的會員您好</h4>
                            <p class="card-text">
                                歡迎使用下方的連結 ，加入FB官方粉絲團， 以及 LINE@@ 官方帳號，
                                知識即是權力 、情報等同MONEY，
                                隨時掌握第一手商品資訊 ， 保證收穫滿滿!
                            </p>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>

<script>
     //10.系統設定jCurrentPage=1，系統設定jTotallPages=9-7回傳TotalPages。
    jCurrentPage =@Model.CurrentPage;
    jTotallPages =@Model.TotalPages;

       //20181224 ---棋
    //更新_NavbarPartial 訊息數量
    if ( @Model.MailCount == 0)
    {
        $('#MailCenterUnReadCount').remove();
    }
</script>
