@using DataModel
@model MessageManagementDataManageViewModel
@{
    List<int> tR = ViewBag.TR;
    int Page = ViewBag.Page;
    int id = (Page - 1) * 10;
}
@*9-8.系統在View【Views/Shared/Components/OrderDetailListNoButton/Default.cshtml】中判斷9-7傳回之listOrderDetailListViewModel!=null and Count>0。*@
@if (Model.listReplyMessageManagementDataListviewModel != null && Model.listReplyMessageManagementDataListviewModel.Count > 0)
{
    // 9-9.系統在View【Views/Shared/Components/OrderDetailListNoButton/Default.cshtml】中顯示[目前銷貨清單] (含修改與刪除，但應依ViewBag.TR之權限顯示)。
    <div class="container container-fluid">
        <table class="table table-bordered table-condensed" id="tableProduct">
            <thead>
                <tr style="color:gainsboro;background-color:#000000">
                    <th>項次</th>
                    <th>回覆者</th>
                    <th>回復時間</th>
                    <th>回覆者手機</th>
                    <th>回覆內容</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var o in Model.listReplyMessageManagementDataListviewModel)
                {
                    <tr>
                        <td>@o.ReplyMessageId</td>
                        <td>@o.ReplyNickName</td>
                        <td>@o.ReplyMessageTime</td>
                        <td>@o.ReplyMobile</td>
                        <td>@o.ReplyMessageValue</td>
                        <td>
                            <a class="btn btn-default btn-DeleteReplyMessageManagement" role="button" title="刪除"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            @if (@o.ReplyMobile != "0911111111")
                            {
                                <a class="btn btn-default btn-UpdateMemberEnabledData" role="button" title="停權"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    // 9-10.系統在View【Views/Shared/Components/OrderDetailListNoButton/Default.cshtml】中顯示換頁超連結。
    <div>
        <pager current-page="@Model.CurrentPage" page-count="@Model.PageCount" parameters="null" start-page="@Model.StartPage" total-pages="@Model.TotalPages" url="@Url.Action("GetOrderDetailListNoButton", "Order")" page-link-size="pagination-md" a-class="@Model.AClass" link-type="@Model.LinkType"></pager>
    </div>
}
else
{
    <h3>沒有回覆的留言</h3>
}