@{
    ViewData["Title"] = "變更員工密碼";
}
<div class="page-header">
    <h2>變更員工密碼</h2>
</div>
@*4.系統在View【Employee/ ChangeEmployeePassword】顯示變更員工密碼元件。*@
<form asp-action="PutEmployeePassword" asp-controller="Employee" method="post" id="CreateFormPS" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div class="form-group row">
            <label asp="OldPassword" class="col-xs-2 control-label">舊密碼*</label>
            <div class="col-xs-4"><input id="OldPassword" type="password" name="OldPassword" class="form-control" /></div>
        </div>
        <div class="form-group row">
            <label asp="NewPassword" class="col-xs-2 control-label">新密碼*</label>
            <div class="col-xs-4"><input id="NewPassword" type="password" name="NewPassword" class="form-control" /></div>
            <label asp="NewPasswordConfirm" class="col-xs-2 control-label">新密碼(確認)*</label>
            <div class="col-xs-4"><input id="NewPasswordConfirm" type="password" name="NewPasswordConfirm" class="form-control" /></div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2 button-right">
                <button type="submit" id="CreateSubmitPS" class="btn btn-danger" data-dismiss="modal">變更密碼</button>
            </div>
            <div class="col-xs-10 button-left">
            </div>
        </div>
    </div>
</form>
@section scripts{
    <environment names="Development">
        <script src="~/lib/jquery.form.js" asp-append-version="true"></script>
        <script src="~/js/Employee.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery.form.min.js" asp-append-version="true"></script>
        <script src="~/js/Employee.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(function () {
            Employeefunction(
                {
                    GetDepartmentListUrl: '@Url.Action("GetDepartmentList", "Employee")',
                    GetDepartmentLevelPathUrl: '@Url.Action("GetDepartmentLevelPath", "Employee")',
                    DeleteDepartmentUrl: '@Url.Action("DeleteDepartment", "Employee")',
                    GetPositionListUrl: '@Url.Action("GetPositionList", "Employee")',
                    DeletePositionUrl: '@Url.Action("DeletePosition", "Employee")',
                    GetEmployeeListUrl: '@Url.Action("GetEmployeeList", "Employee")',
                    DeleteEmployeeUrl: '@Url.Action("DeleteEmployee", "Employee")',
                    ValidatePositionUrl: '@Url.Action("ValidatePosition", "Employee")',
                    PutEmployeePositionUrl: '@Url.Action("PutEmployeePosition", "Employee")',
                    GetEmployeeRightUrl: '@Url.Action("GetEmployeeRight", "Employee")',
                    PutEmployeeRightsUrl:'@Url.Action("PutEmployeeRights", "Employee")'
                }
            );
        });
    </script>
}