@using DataModel
@model ProductCategoryManageViewModel
@{
    List<int> tR = ViewBag.TR;
}
@*9-8.系統在View【Views/Shared/Components ProductCategory/Default.cshtml】中判斷9-7傳回之listProductListViewModel!=null and Count>0。*@
@if (Model.listProductCategoryListViewModel != null && Model.listProductCategoryListViewModel.Count > 0)
{
    // 9-9.系統在View【Views / Shared / Components ProductCategory / Default.cshtml】中顯示[目前商品分類清單](含修改與刪除與商品，但應依ViewBag.TR之權限顯示)。
    <div class="container container-fluid">
        <table class="table table-bordered">
            <thead>
                <tr style="color:gainsboro;background-color:#000000">
                    <th>分類代碼</th>
                    <th>分類名稱</th>
                    <th>分類圖示</th>
                    <th>分類說明</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProductCategoryViewModel MLVM in Model.listProductCategoryListViewModel)
                {
                <tr id="@MLVM.ProductCategoryId">
                    <td>@MLVM.ProductCategoryId</td>
                    <td><a href="#" class="ProductLevelPathList" title="@MLVM.ProductCategoryId">@MLVM.ProductCategory</a></td>
                    <td class="item-pic"><img src="@Url.Action("GetCagegoryImage", "Product", new { ProeuctCatagoryId = MLVM.ProductCategoryId })" alt="@MLVM.ProductCategory" class="img-responsive" style="max-width:200px;max-height:200px;" /></td>
                    @if(MLVM.ProductCategoryDescription == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@Html.Raw(MLVM.ProductCategoryDescription.Replace("\n", "<br />"))</td>
                    }
                    <td>
                        <a class="btn btn-default btn-edit" role="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true" title="修改"></span></a>
                        <a class="btn btn-default btn-delete" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="刪除"></span></a>
                        <a class="btn btn-default btn-product" role="button"><span class="glyphicon glyphicon-th-list" aria-hidden="true" title="商品"></span></a>
                        <a class="btn btn-default btn-addproduct" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true" title="新增商品"></span></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    // 9-10.系統在View【Views/Shared/Components/ProductCategory/Default.cshtml】中顯示換頁超連結。
    <div>
        <pager current-page="@Model.CurrentPage" page-count="@Model.PageCount" parameters="null" start-page="@Model.StartPage" total-pages="@Model.TotalPages" url="@Url.Action("GetProductCategory", "Product")" page-link-size="pagination-md" a-class="@Model.AClass" link-type="@Model.LinkType"></pager>
    </div>
}
else
{
    <h2>沒有子分類</h2>
}