@using DataModel
@model List<FreightViewModel>
@{
    ViewData["Title"] = "運費設定";
}
@if (ViewBag.HavePrivilege == true)
{
    // 6.系統在View【Freight/Index】判斷ViewBag.HavePrivilege=true。
    <div class="page-header">
        <h2>運費設定</h2>
    </div>
    // 6.系統在View【Freight/Index】判斷ViewBag.HavePrivilege=true。
    <form class="form" id="qFrom">
        <div class="form-horizontal">
            @foreach (FreightViewModel item in Model)
            {
            <div class="form-group row">
                <label class="col-xs-2 control-label left">@item.Operator</label>
                @if (item.Operator == "離島地區運費")
                {
                    <div class="col-xs-2"><input id="@item.FreightId" type="text" name="@item.FreightId" class="form-control BonusLimit" value='@item.FreightLimit' readonly /></div>
                }
                else
                {
                    <div class="col-xs-2"><input id="@item.FreightId" type="text" name="@item.FreightId" class="form-control BonusLimit" value='@item.FreightLimit' /></div>
                }
                <div class="col-xs-2"><input id="@item.FreightId" type="text" name="@item.FreightId" class="form-control BonusValue" value='@item.FreightValue' /></div>
            </div>
            }
            <hr />
            <div class="form-group row">
                <div class="col-xs-2"></div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-default" id="btnReset">重設運費</button>
                </div>
            </div>
        </div>
    </form>
    <hr />
    // 8.系統在查詢元件下方安置<Div FreightList>以便用來顯示運費設定查詢結果清單。
    @section scripts{
        <environment names="Development">
            <script src="~/lib/jquery.form.js" asp-append-version="true"></script>
            <script src="~/js/Freight.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/lib/jquery.form.min.js" asp-append-version="true"></script>
            <script src="~/js/Freight.js" asp-append-version="true"></script>
        </environment>
        <script>

            $(function () {
                Freightfunction({
                    GetFreightListUrl: '@Url.Action("GetFreightList", "Freight")',
                    PutFreightUrl: '@Url.Action("PutFreight", "Freight")'
                });
            });
        </script>
    }
}
else
{
    // 6a.系統在View【Freight/Index】判斷ViewBag.HavePrivilege=false。
    //  6a-1.系統顯示"無此權限"。
    <div class="page-header">
        <h2>無此權限</h2>
    </div>
}